#aside-out {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    left: -300px;
    padding: 10px;
    width: 280px;
    background-color: rgb(251, 251, 251);
    transition: left 0.5s;
}

#aside-in {
    box-sizing: border-box;
    width: 260px;
    background-color: rgb(251, 251, 251);
}

#aside-top {
    padding-bottom: 20px;
    width: 260px;
    color: rgb(0, 0, 0);
    border-bottom: 1px dashed rgb(197, 197, 197);
}

#aside-title {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 24px;
}

#aside-top p {
    margin-bottom: 2px;
    font-size: 14px;
}

#aside-top a {
    font-size: 14px;
    color: rgb(184, 63, 69);
    text-decoration: none;
}

#aside-top a:hover {
    color: rgb(120, 126, 126);
    text-decoration: underline;
}

#aside-main {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 260px;
    color: rgb(77, 77, 77);
}

#aside-main p {
    display: block;
    position: relative;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    font-style: italic;
    background-color: rgb(241, 241, 241);
}

#aside-main p::before {
    content: "“";
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 48px;
    color: rgb(217, 217, 217);
}

#aside-main p::after {
    content: "”";
    position: absolute;
    bottom: -22px;
    right: 6px;
    font-size: 48px;
    color: rgb(217, 217, 217);
}

#triangle {
    margin-bottom: 10px;
    margin-left: 215px;
    width: 24px;
    height: 12px;
    background-color: rgb(241, 241, 241);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

#aside-main a {
    margin-left: 194px;
    font-size: 14px;
    color: rgb(184, 63, 69);
    text-decoration: none;
}

#aside-main a:hover {
    color: rgb(120, 126, 126);
    text-decoration: underline;
}

#aside-bottom {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 260px;
    color: rgb(77, 77, 77);
    border-top: 1px dashed rgb(197, 197, 197);
}

#aside-bottom p {
    line-height: 20px;
    font-size: 14px;
    font-style: italic;
}

#aside-bottom a {
    font-size: 14px;
    color: rgb(184, 63, 69);
    text-decoration: none;
}

#aside-bottom a:hover {
    color: rgb(120, 126, 126);
    text-decoration: underline;
}