#toDO {
    width: 100%;
    max-width: 560px;
    min-width: 240px;
    margin: auto;
}

#mB-title {
    height: 115px;
    font-size: 90px;
    color: rgb(234, 215, 215);
    line-height: 115px;
    text-align: center;
    margin: 10px auto;
}

#mB-mainV {
    box-shadow: 0px 2px 6px rgba(161, 154, 154, 0.6);
}

#mB-mainInV {
    box-shadow: 0px 4px 10px rgba(161, 154, 154, 0.6);
}

#mB-mainV #mB-input {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

#mB-mainV #mB-input #checkAll {
    width: 60px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -30%);
    margin: auto 0;
    cursor: default;
}

#mB-mainV #mB-input #uncheckAll {
    width: 60px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(115, 115, 115);
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -30%);
    margin: auto 0;
    cursor: default;
}

#mB-mainInV #mB-input {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
}

#mB-mainInV #mB-input div {
    display: none;
}

#mB-mainV #mB-input input[type="text"] {
    width: 100%;
    height: 68px;
    background-color: rgb(254, 254, 254);
    padding: 16px 16px 16px 60px;
    line-height: 36px;
    font-size: 24px;
    color: rgb(77, 77, 77);
    box-sizing: border-box;
    outline: 0;
    border: none;
}

#mB-mainInV #mB-input input[type="text"] {
    width: 100%;
    height: 68px;
    background-color: rgb(254, 254, 254);
    padding: 16px 16px 16px 60px;
    line-height: 36px;
    font-size: 24px;
    color: rgb(77, 77, 77);
    box-sizing: border-box;
    outline: 0;
    border: none;
}

#mB-mainV input::-webkit-input-placeholder {
    color: rgb(230, 230, 230);
    font-style: italic;
}

#mB-mainInV input::-webkit-input-placeholder {
    color: rgb(230, 230, 230);
    font-style: italic;
}

#mB-mainV #todoItemsAll,
#mB-mainV #todoItemsActived,
#mB-mainV #todoItemsCompleted {
    margin: 0;
}

#mB-mainInV #todoItemsAll,
#mB-mainInV #todoItemsActived,
#mB-mainInV #todoItemsCompleted {
    display: none;
}

#mB-mainV #todoItemsAll ul,
#mB-mainV #todoItemsActived ul,
#mB-mainV #todoItemsCompleted ul {
    list-style: none;
    background-color: rgb(254, 254, 254);
    margin: 0px;
    padding: 0px;
    /*可以覆盖住上面的阴影*/
    display: flex;
    flex-direction: column;
}

#mB-mainV #shadow {
    width: 100%;
    height: 1px;
    background-color: rgb(254, 254, 254);
    box-sizing: border-box;
    border-top: 1px solid rgba(161, 154, 154, 0.2);
    box-shadow: 0px -1px 1px rgba(161, 154, 154, 0.2);
}

#mB-mainV #todoItemsAll .todoItem,
#mB-mainV #todoItemsActived .todoItem,
#mB-mainV #todoItemsCompleted .todoItem {
    width: 100%;
    min-height: 69px;
    background-color: rgb(254, 254, 254);
    padding: 16px 16px 16px 60px;
    line-height: 36px;
    font-size: 24px;
    color: rgb(77, 77, 77);
    word-break: break-all;
    border-bottom: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
}

#mB-mainV #todoItemsAll input[type="checkbox"],
#mB-mainV #todoItemsActived input[type="checkbox"],
#mB-mainV #todoItemsCompleted input[type="checkbox"] {
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto 0;
}


#mB-mainV #todoItemsAll .todoItem input[type="checkbox"]:checked+label,
#mB-mainV #todoItemsActived .todoItem input[type="checkbox"]:checked+label,
#mB-mainV #todoItemsCompleted .todoItem input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: rgb(217, 217, 217);
}

#mB-mainV .todoItem .delete {
    display: none;
}

#mB-mainV .todoItem:hover .delete {
    display: block;
    position: absolute;
    height: 68px;
    width: 68px;
    right: 0;
    bottom: 0;
}

#mB-mainV .todoItem:hover .delete img {
    margin: 25px;
    height: 18px;
    transition: filter 0.2s;
}

#mB-mainV .todoItem:hover .delete img:hover {
    filter: brightness(0.7);
    transition: filter 0.2s;
}

#mB-mainV #mB-bottom {
    width: 100%;
    background-color: rgb(254, 254, 254);
    padding: 10px 10px 10px 24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#mB-mainInV #mB-bottom {
    display: none;
}

#mB-mainV #mB-bottom>div {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: rgb(119, 119, 119);
}

#mB-mainV #numbers {
    width: 70px;
    margin-right: 30px;
    cursor: default;
}

#mB-mainV #buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
}

#mB-mainV #buttons div {
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid rgb(254, 254, 254);
    box-sizing: border-box;
}

#mB-mainV #buttons #b-Choiced {
    border: 1px solid rgb(239, 213, 213);
    border-radius: 4px;
}

#mB-mainV #buttons div:hover {
    border: 1px solid rgb(239, 213, 213);
    border-radius: 4px;
}

#mB-mainV #clearAll {
    float: right;
    margin-right: 24px;
}

#mB-mainV #clearAll:hover {
    text-decoration: underline;
    cursor: pointer;
}

#mB-mainV #mB-bottom-border01 {
    position: absolute;
    width: 99%;
    height: 10px;
    background-color: rgb(254, 254, 254);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(161, 154, 154, 0.6);
    z-index: -10;
    bottom: -8px;
    left: 0.5%;
}

#mB-mainV #mB-bottom-border02 {
    position: absolute;
    width: 98%;
    height: 10px;
    background-color: rgb(254, 254, 254);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(161, 154, 154, 0.6);
    z-index: -20;
    bottom: -16px;
    left: 1%;
}

#footer {
    width: 100%;
    height: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: rgb(204, 191, 191);
    font-size: 12px;
}